.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 150px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    padding-right: 100px;
    color: #191970;
}

p {
    font-family: 'Archivo Black', sans-serif;
    text-align: left;
    color: #191970;
}
